DATABASE_URL="postgresql://postgres:postgres@localhost:5433/collab_task_manager?schema=public"

PORT=4000

CLIENT_ORIGIN="http://localhost:5173"

JWT_SECRET="change-me-in-production"
JWT_REFRESH_SECRET="change-me-too-in-production"
JWT_ACCESS_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN="7d"

DROPBOX_APP_KEY=""
DROPBOX_APP_SECRET=""
DROPBOX_REFRESH_TOKEN=""
